{% if recaptcha_enabled %}
{% if recaptcha_misconfigured %}
<div class="alert alert-danger">{{ recaptcha_warn }}</div>
{% else %}
{% if recaptcha_version == 'v2' %}
<div class="g-recaptcha" data-sitekey="{{ __SELF__.settings.recaptcha_site_key }}"></div>
{% else %}
<input type="hidden" name="g-recaptcha-response" id="g-recaptcha-response">
<script src="https://www.google.com/recaptcha/api.js?render={{ __SELF__.settings.recaptcha_site_key }}"></script>
<script>
    grecaptcha.ready(function () {
        grecaptcha.execute('{{ __SELF__.settings.recaptcha_site_key }}', { action: 'submit' }).then(function (token) {
            document.getElementById('g-recaptcha-response').value = token;
        });
    });
</script>
{% endif %}
{% endif %}
{% endif %}